<h2>Create a new Product</h2>

<div *ngIf="createNewErrors">
    <p *ngIf="createNewErrors.errors.title" style="color:red">
      {{createNewErrors.errors.title.message}}
    </p>
    <p *ngIf="createNewErrors.errors.price" style="color:red">
      {{createNewErrors.errors.price.message}}
    </p>
</div>
  
<form>
  <label> Title: 
    <input type="text" name="newProduct.title" [(ngModel)]="newProduct.title" />
  </label>
  <label> Price: 
    <input type="number" name="newProduct.price" [(ngModel)]="newProduct.price" />
  </label>
  <label> Image Url: 
      <input type="text" name="newProduct.imageUrl" [(ngModel)]="newProduct.imageUrl" />
    </label>
  <br>
  <input type="submit" value="Submit" (click)="onSubmitNew()"/>
  <button [routerLink]="['/products']">Cancel</button>
</form>